* {
    background-color: #d4b0c6;

    font-family: 'Fira Sans', sans-serif;
}

.container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 128px;
    padding-right: 128px;

    /* For iPad size */
    @media (max-width: 1024px) {
        padding-left: 64px;
        padding-right: 64px;
    }

    /* For iPhone size */
    @media (max-width: 767px) {
        padding-left: 32px;
        padding-right: 32px;
    }
}

payment form {
    background-color: #313131;
}

/* Mobile navigation bar */
.hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #FFF;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: #442b6b;
    padding-top: 120px;
    transition: 0.4s;

    a {
        display: block;
        width: 100%;
        max-width: 200px;
        margin: 0 auto 16px;
        text-align: center;
        padding: 12px 16px;
        background-color: #af6091;

        color: #FFF;
        text-decoration: none;
    }
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav a:hover {
    background-color: #b3779c;
}

@media (min-width: 767px) {
    .mobile-nav {
        display: none;
    }

    .hamburger {
        display: none;
    }
}

/* Beginning of content for website */
section {   
    h2 {
        text-align: center;
        margin-bottom: 32px;
        text-transform: uppercase;

        columns: #313131;
        font-size: 36px;
    }
}

header {
    color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

    .container {
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            color: inherit;
            text-transform: uppercase;
            font-size: 32px;
            font-weight: 900;

            span {
                font-weight: 600;
            }
        }

        nav {
            display: grid;
            grid-gap: 16px;
            grid-template-columns: repeat(4, auto);

            @media (max-width: 767px) {
                display: none;
            }

            a {
                color: inherit;
                font-size: 20px;
                text-decoration: none;
            }
        }
    }

    &.is-scrolling {
        background-color: #313131;

        .container {
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }
}

main {
    section.banner {
        position: relative;
        min-height: 100vh;
        display: flex;
        align-items: center;
        
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            opacity: 0.3;
        }

        .container {
            position: relative;
            z-index: 1;
            
            h1 {
                font-size: 72px;
                margin-bottom: 32px;

                span {
                    color: #673bad;
                }

                @media (max-width: 767px) {
                    font-size: 32px;
                }
            }

            h3 {
                font-size: 32px;
                font-weight: 400;
                margin-bottom: 32px;

                @media (max-width: 767px) {
                    font-size: 20px;
                }
            }
        }
    }
}

.payment{
    width: 500px;
    height: 530px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}

.payTitle{
    font-size: 20px;
    color: gray;
}


.payInput{
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;
}

.payInput::placeholder{
    color: gray;
}

.cardIcons{
    display: flex;
}
.cardIcon{
    margin-right: 10px;
}
.cardInfo{
    display: flex;
    justify-content: space-between;
}

.sm{
    width: 30%;
}



